{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <hr class="w-50 mb-1 rule">
            <h2 class="logo-font pt-3 header-text text-center">Add A Review</h2>
            <hr class="w-50 mb-1 rule">
            <p class="text-white text-center pt-2">Write your review below
            </p>
            <form method="post" action="{% url 'add_review'%}" class="text-white">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                    <button type="submit" class="btn btn-success mb-2">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}