{% extends "base.html" %}
{% load static %}

{% block extra_css%}
<link rel="stylesheet" href="{% static 'review/css/review.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <hr class="w-50 mb-1 rule">
            <h2 class="logo-font pt-3 header-text text-center">Reviews</h2>
            <hr class="w-50 mb-1 rule">
            {% for review in reviews %}
            <div class="row text-center mt-3 comment-container">
                <div class="col-12 text-center review">
                    <p class="rating mx-4"> Review By: <span class="text-white px-3">{{ review.author }}</span></p>
                    <p class="rating">On: <span class="text-white px-3">{{ review.created_at }}</span></p>
                    <p class="text-white">{{ review.comment }}</p>
                    <p class="rating px-3">Rated: <span class="text-white px-3">{{ review.rating }}<i
                                class="fas fa-star rating"></i> out of 5<i class="fas fa-star rating"></i>
                        </span></p>
                    <button class="like-btn" data-review-id="{{ review.id }}">
                        <i class="fas fa-thumbs-up"></i>
                    </button>
                    <span class="likes-count text-white px-3">Likes: {{ review.likes_count }}</span>
                </div>
            </div>
            <hr class="rule">
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
