.pagination-link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding-left: 10px;
    padding-bottom: 1rem;
}

.pagination-link:hover {
    color: white;
}

.current-page {
    font-weight: bold;
    color: gold;
    padding-left: 10px;
    font-size: 1.3rem;
}


.rating {
    color: black;
    font-size: 1.2rem;
}

.like-btn {
    background-color: blue;
    color: white;
    border-radius: 10px;
    font-size: 1.3rem;
}

.like-btn.liked {
    color: blue;
    background-color: white;
}

.comment-container {
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    opacity: 0.9;
    color: black;
    margin: 1rem;
    border: 1px solid gold;
    box-shadow:5px 5px 20px black;
}

.confirmation-container {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 20px;
    border: 1px solid white;
    margin-bottom: 3rem;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%; 
    max-width: 400px; 
}

@media (max-width: 992px) {
    .rating {
        font-size: 1rem;
    }
}

