{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_title %}- Cart{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<section class=cart>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="text-center">
                    <hr class="w-50 mb-1 rule">
                    <h2 class="logo-font mb-3 header-text">Cart</h2>
                    <hr class="w-50 mb-1 rule">
                </div>
                {% if cart_items %}
                <div class="table-responsive table-responsive-sm rounded">
                    <table class="table table-sm table-borderless">
                        <thead class="table-text">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart_items %}
                            <tr>
                                <td class="py-3">
                                    <p class="my-1 text-white"><strong>{{ item.product.name }}</strong></p>
                                    <p class="my-1 small text-white">SKU: {{ item.product.sku|upper }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-1 text-white">€{{ item.product.price }}</p>
                                </td>
                                <td class="py-3">
                                    <form class="form update-form" method="POST"
                                        action="{% url 'edit_cart' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm btn-black rounded-0"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="decrement-qty_{{ item.item_id }}"
                                                        aria-label="decrement-button">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}"
                                                    aria-label="number-input">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="increment-qty_{{ item.item_id }}"
                                                        aria-label="increment-button">
                                                        <span>
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="text-center mt-2 mr-3">
                                        <button class="update-link btn btn-success text-black"
                                            id="update_{{ item.item_id }}"><small>Update</small></button>
                                        <a class="remove-item btn btn-danger text-white"
                                            id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                    </div>
                                </td>
                                <td class="py-3">
                                    <p class="my-0 text-white">€{{ item.product.price | calc_subtotal:item.quantity }}
                                    </p>
                                </td>
                                <td></td>
                            </tr>
                            {% endfor %}
                            <tr class="text-center">
                                <td colspan="5" class="pt-5 text-center text-white">
                                    <hr class="rule">
                                    <p><strong>Cart Total: €{{ total|floatformat:2 }}</strong></p>
                                    <p>Delivery: €{{ delivery|floatformat:2 }}</p>
                                    <h3 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h3>
                                    {% if free_delivery_delta > 0 %}
                                    <p class="mb-1 text-white">
                                        You could get free delivery by spending just
                                        <strong>€{{ free_delivery_delta }}</strong>
                                        more!
                                    </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div class="button-wrapper">
                                        <a href="{% url 'products' %}" class="btn btn-warning rounded-0">
                                            <span class="icon">
                                                <i class="fas fa-chevron-left"></i>
                                            </span>
                                            <span class="text-uppercase">Back to Products</span>
                                        </a>
                                        <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 text-white">
                                            <span class="text-uppercase">Secure Checkout</span>
                                            <span class="icon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="text-center">
                    <p class="lead mt-5 text-white">Your Cart is empty!</p>
                    <a href="{% url 'products' %}" class="btn btn-warning mt-3">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase text-black">Back to Products</span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_button_script.html' %}
<script>
    $(document).ready(function () {
        // Update quantity on change
        $('.update-link').click(function (e) {
            e.preventDefault();
            var form = $(this).closest('tr').find('.update-form');
            form.submit();
        });

        // Remove item and reload on click
        $('.remove-item').click(function (e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/cart/remove/${itemId}/`;
            var data = {
                'csrfmiddlewaretoken': csrfToken,
            };

            $.post(url, data)
                .done(function () {
                    location.reload();
                });
        });

        $('.qty_input').on('input', function () {
            var itemId = $(this).data('item_id');
            handleEnableDisable(itemId);

            var inputValue = parseInt($(this).val());
            var updateButton = $('#update_' + itemId);
            if (inputValue > 99) {
                $(this).val(99); 
                updateButton.prop('disabled', false);
            } else if (inputValue < 1 || isNaN(inputValue)) {
                $(this).val(1);
                updateButton.prop('disabled', true);
            } else {
                updateButton.prop('disabled', false);
            }
        });
    });
</script>
{% endblock %}