
.header-text {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 2.5rem;
    color: gold;
}

.table-text th {
    color: gold;
    text-decoration: underline;
    font-size: 1.3rem;
}


.input-group {
    width: 200px;
}

.rule {
    background-color: white;
}

@media (max-width: 991px) {
    .update-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .update-link,
    .remove-item {
        margin-top: 8px;
    }

    .input-group {
        width: 100px;
    }

    .table-text th {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .button-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 576px) {
    .button-wrapper a {
        display: block;
        margin-bottom: 10px;
    }


}