body {
    background: url("https://burgers-r-us1.s3.eu-west-1.amazonaws.com/media/burgers2.jpeg") no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

.hero-text {
    color: white;
}