@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Roboto+Mono:wght@500&display=swap');

body {
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

.hero-text {
    color: white;
    font-family: 'Roboto Mono', sans-serif; 
}

.hero-logo {
    font-family: 'Lora', sans-serif;
    margin: auto;
    padding: 0;
    font-size: 2.3rem;
    text-decoration: underline;
    color: #555;
}