@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Roboto+Mono:wght@500&display=swap');

.rule {
    background-color: white;
}


.product-name {
    text-decoration: none;
    font-family: 'Roboto Mono', sans-serif;
    color: gold;
    font-size: 1.3rem;
}

.confirmation-container {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 20px;
    border: 1px solid white;
    margin-bottom: 3rem;
    background-color: gray;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%; 
    max-width: 400px; 
}


.card-body {
    background-color: gray;
}

.card-body p {
    color: white;
    font-size: 1.1rem;
}

.card-footer {
    background-color: gray;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.pagination-link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding-left: 10px;
    padding-bottom: 1rem;
}

.pagination-link:hover {
    color: white;
}

.current-page {
    font-weight: bold;
    color: gold;
    padding-left: 10px;
    font-size: 1.5rem;
}

.product-count {
    color: gold;
    font-size: 1.3rem;
}



/* Product Detail */


.card-title {
    font-family: 'Roboto Mono', sans-serif;
    color: gold;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.product-image {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 20px;
}

#detail-body {
    background-color: gray;
    border-radius: 50px;
    border: 2px solid gold;

}

#detail-card {
    border-radius: 50px;
    margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
    #detail-body {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 991px) {
    #detail-card {
        margin-top: 1rem;
    }

    .image-container {
        margin: 10px;
    }

    .product-image {
        margin-top: 1rem;
    }

    .pagination-link {
        font-size: 1.2rem;
    }

    #detail-body {
        border: 1px solid gold;
    }

}

@media screen and (max-width: 640px) {
    #detail-card {
        margin-top: 2rem;
    }
}


/* Media queries for small screens */
@media screen and (max-width: 768px) {
    .card-img-top {
        height: 25vh;
    }

}