<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Food
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="burgers-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Burgers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="burgers-link">
                <a href="" class="dropdown-item">Premium Burgers</a>
                <a href="" class="dropdown-item">Beef Burgers</a>
                <a href="" class="dropdown-item">Chicken burgers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="sides-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sides
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sides-link">
                <a href="" class="dropdown-item">Garlic Bread</a>
                <a href="" class="dropdown-item">Chips</a>
                <a href="" class="dropdown-item">Other</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="pizza-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Pizza
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="pizza-link">
                <a href="" class="dropdown-item">Vegetarian</a>
                <a href="" class="dropdown-item">Meat</a>
                <a href="" class="dropdown-item">All
                    Pizzas</a>
            </div>
        </li>
    </ul>
</div>