<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Food
            </a>
            <div class="dropdown-menu" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price Low To
                    High</a>
                <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item">By Price High To
                    Low</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category
                    A-Z</a>
                <a href="{% url 'products' %}?sort=category&direction=desc" class="dropdown-item ">By Category
                    Z-A</a>
                <a href="{% url 'products' %}?sort=subcategory&direction=asc" class="dropdown-item ">By Sub Category
                    A-Z</a>
                <a href="{% url 'products' %}?sort=subcategory&direction=desc" class="dropdown-item ">By Sub
                    Category Z-A</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="burgers-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Burgers
            </a>
            <div class="dropdown-menu" aria-labelledby="burgers-link">
                <a href="{% url 'products' %}?subcategory=premium_burgers" class="dropdown-item">Premium Burgers</a>
                <a href="{% url 'products' %}?subcategory=beef_burgers" class="dropdown-item">Beef Burgers</a>
                <a href="{% url 'products' %}?subcategory=chicken_burgers" class="dropdown-item">Chicken burgers</a>
                <a href="{% url 'products' %}?category=Burgers" class="dropdown-item">All burgers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="sides-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sides
            </a>
            <div class="dropdown-menu" aria-labelledby="sides-link">
                <a href="{% url 'products' %}?subcategory=garlic_bread" class="dropdown-item">Garlic Bread</a>
                <a href="{% url 'products' %}?subcategory=chips" class="dropdown-item">Chips</a>
                <a href="{% url 'products' %}?subcategory=other" class="dropdown-item">Other</a>
                <a href="{% url 'products' %}?category=Sides" class="dropdown-item">All Sides</a>

            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="pizza-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Pizza
            </a>
            <div class="dropdown-menu" aria-labelledby="pizza-link">
                <a href="{% url 'products' %}?subcategory=vegetarian_pizza" class="dropdown-item">Vegetarian</a>
                <a href="{% url 'products' %}?subcategory=meat_pizza" class="dropdown-item">Meat Pizza</a>
                <a href="{% url 'products' %}?category=Pizza" class="dropdown-item">All Pizzas</a>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            {% if request.user.is_authenticated %}
            <p class="logged-text navbar-text ml-auto">Logged in as: {{ request.user.username }}</p>
            {% endif %}
        </li>
    </ul>
</div>