{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container header-container mt-3">
    <div class="overlay"></div>
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="allauth-form-inner-content">
                <hr class="w-50 mb-1 rule">
                <h1 class="logo-font pt-3 header-text text-center">{% trans "Password Reset" %}</h1>
                <hr class="w-50 mb-1 rule">
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="text-white mt-2 text-center">
                    {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
                </p>
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-6 text-center">
                        <form method="POST" action="{% url 'account_reset_password' %}"
                            class="password_reset text-white">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" value="{% trans 'Reset My Password' %}"
                                class="text-center btn btn-success text-black" />
                        </form>
                    </div>
                </div>

                <p class="text-white text-center mt-4">{% blocktrans %}Please contact us if you have any trouble resetting your
                    password.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
    {% endblock %}