{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 justify-content-center text-center">
            <hr class="w-50 mb-1 rule">
            <h1 class="logo-font pt-3 header-text">{% trans "Change Password" %}</h1>
            <hr class="w-50 mb-1 rule">
        </div>
        <div class="col-12 justify-content-center text-center">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="action" class="btn btn-primary text-black">{% trans "Change Password" %}</button>
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}