<!DOCTYPE html>
<html>

<head>
    <title>Order Confirmation</title>
</head>

<body>
    <h1>Order Confirmation</h1>
    <p>Dear {{ order.full_name }}Thank you for your order!</p>

    <h2>Order Details</h2>
    <p><strong>Order Number:</strong> {{ order.order_number }}</p>
    <p><strong>Order Date:</strong>&nbsp;{{ order.date }}</p>
    <p><strong>Delivery Time:</strong>&nbsp;{{ order.get_delivery_time_display }}</p>
    {% for item in order.order_item.all %}
    <p><strong>Items:</strong>&nbsp;{{ item.food.name }}</p>
    <p><strong>Quantity:</strong>&nbsp;{{ item.quantity }} @ €{{ item.food.price }} each</p>
    {% endfor %}
    <p><strong>Order Total:</strong>&nbsp;€{{ order.order_total }}</p>
    <p><strong>Delivery:</strong>&nbsp;€{{ order.delivery_cost }}</p>
    <p><strong>Grand Total:</strong>&nbsp;€{{ order.grand_total }}</p>

    <h3>Delivering to</h3>

    <p><strong>Address line 1:</strong>&nbsp;{{ order.address_1 }}</p>
    {% if order.address_2 %}
    <p><strong>Address line 2:</strong>&nbsp;{{ order.address_2 }}</p>
    {% endif %}
    {% if order.address_2 %}
    <p><strong>Address line 3:</strong>&nbsp;{{ order.address_3 }}</p>
    {% endif %}
    <p><strong>Town:</strong>&nbsp;{{ order.town }}</p>
    <p><strong>County:</strong>&nbsp;{{ order.county }}</p>
    <p><strong>Eircode:</strong>&nbsp;{{ order.eircode }}</p>
    

    <p>Please feel free to contact us if you have any questions by replying to this email or 
        call us on (01) 2761234
    </p>
</body>

</html>