<!DOCTYPE html>
<html>

<head>
    <title>Order Confirmation</title>
</head>

<body>
    <h1>Order Confirmation</h1>
    <p>Thank you for your order!</p>

    <h2>Order Details</h2>
    <p><strong>Order Number:</strong> {{ order.order_number }}</p>
    <p><strong>Order Date:</strong>{{ order.date }}</p>
    <p><strong>Delivery Time:</strong> {{ order.get_delivery_time_display }}</p>
    <p><strong>Order Total:</strong>€{{ order.order_total }}</p>
    <p><strong>Delivery:</strong>€{{ order.delivery_cost }}</p>
    <p><strong>Grand Total:</strong>€{{ order.grand_total }}</p>


    <p>Please feel free to contact us if you have any questions.</p>
</body>

</html>