{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr class="w-50 mb-1 rule">
            <h2 class="logo-font pt-3 header-text">404 Page Not Found</h2>
            <hr class="w-50 mb-1 rule">
        </div>
    </div>
    <div class="row text-center">
        <h4 class="text-white text-center mt-3">Whoops! This page doesnt exist. Press the home button below
            to return to the homepage.
        </h4>
    </div>
    <div class="row">
        <div class="col text-center mt-3">
            <a href="{% url 'home' %}" class="btn btn-primary btn-lg">Home</a>
        </div>
    </div>
</div>

{% endblock%}