{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Product Details{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<section class="product-detail">
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-11">
                <div class="card" id="detail-card">
                    <div class="card-body" id="detail-body">
                        <div class="row text-center justify-content-center">
                            <div class="col-lg-12">
                                <h2 class="card-title text-center mb-0 pb-0">{{ product.name }}</h2>
                            </div>
                            <div class="text-center">
                                <div class="col-lg-12">
                                    {% if product.image %}
                                    <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    {% else %}
                                    <img class="product-image"
                                        src="https://burgers-r-us1.s3.eu-west-1.amazonaws.com/media/no-image.webp"
                                        alt="{{ product.name }}">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="text-center detail-details">
                            <p class="lead mb-0">Price: €{{ product.price }}</p>
                            <hr class="bg-white">
                            <p class="mt-3">{{ product.description }}</p>
                            <hr class="bg-white">
                            <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-12">
                                        <label for="id_qty_{{ product.id }}" class="text-white mt-2">Quantity:</label>
                                        <div class="form-group w-50 mx-auto">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-black rounded-0"
                                                        data-item_id="{{ product.id }}"
                                                        id="decrement-qty_{{ product.id }}"
                                                        aria-label="decrement-button">
                                                        <span class="icon">
                                                            <i class="fas fa-minus"></i>
                                                        </span>
                                                    </button>
                                                </div>

                                                <input class="form-control qty_input" type="number" name="quantity"
                                                    value="1" min="1" max="99" data-item_id="{{ product.id }}"
                                                    id="id_qty_{{ product.id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-black rounded-0"
                                                        data-item_id="{{ product.id }}"
                                                        id="increment-qty_{{ product.id }}"
                                                        aria-label="increment-button">
                                                        <span class="icon">
                                                            <i class="fas fa-plus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row"></div>
                                    <div class="col-12 text-center">
                                        {% if product.category %}
                                        <a href="{% url 'products' %}?category={{ product.category.name }}"
                                            class="btn btn-danger mb-0 mt-3 text-black">
                                            <i class="fas fa-tag mr-1"></i>
                                            <span class="text-black">More&nbsp;{{ product.category.name }}</span>
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                                <a href="{% url 'products' %}" class="btn btn-primary mt-3 text-black">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Back to Products</span>
                                </a>
                                <button type="submit" class="btn btn-success text-uppercase mt-3 text-black">
                                    <i class="fas fa-shopping-cart"></i> Add to Cart
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
{% include 'includes/footer.html' %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}